<% provide(:title, "Sign In") %>

<div class="row full-height align-center align-middle">
  <div class="small-12 medium-6 large-4 columns">
    <h2 class="text-center">Sign In</h2>
    <%= form_for(:session, url: signin_path) do |f| %>
      <fieldset>
        <%= f.label :email, "Email" %>
        <%= f.email_field :email %>
      </fieldset>
      <fieldset>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </fieldset>
      <p>
        <%= f.button "Sign In", class: "button expanded" %>
      </p>
    <% end %>
  </div>
</div>
