<% provide(:title, @blog.name) %>

<div class="row">
  <div class="small-12 medium-8 columns">
    <div class="row align-middle margin-bottom-20">
      <div class="columns">
        <h3 class="margin-bottom-0">
          <%= @blog.name %>
        </h3>
      </div>
      <div class="columns shrink">
        <% if can?(:create, Post.new(blog: @blog)) %>
          <%= link_to "New Post", new_blog_post_path(@blog), class: 'button hollow success round' %>
        <% end %>
        <% if can?(:update, @blog) %>
          <%= link_to "Edit", edit_blog_path(@blog), class: 'button hollow round' %>
        <% end %>
      </div>
    </div>
    <hr />
    <% if @blog.posts.any? %>
      <%= render partial: 'post', collection: @blog.posts, as: 'post' %>
    <% else %>
      <p class="text-center mute">
        No posts have been created
      </p>
    <% end %>
  </div>
  <div class="small-12 large-4 columns text-center">
    <%= render 'user', user: @blog.user, size: 128 %>
  </div>
</div>
