<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Small" %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="site-wrapper">
      <header role="banner" class="row collapse align-middle">
        <div class="small-12 medium-6 large-4 columns">
          <%= link_to "Small", root_path, id: 'branding' %>
        </div>
        <div class="small-12 medium-6 large-8 columns">
          <div class="row">
            <% if signed_in? %>
              <div class="columns large-text-right">
                <%= link_to "Start a Blog", new_blog_path, class: 'button round hollow success' %>
              </div>
              <div class="columns shrink pinch-left pos-rel">
                <button id="you" class="float-right" data-toggle="you-menu" style="background-image: url(<%= current_user.gravatar_url %>)">
                  <%= current_user.initial %>
                </button>
                <div id="you-menu" class="dropdown-pane small" data-dropdown data-position-class="bottom" data-close-on-click="true" data-v-offset="10">
                  <ul class="menu simple vertical">
                    <li>
                      <%= link_to "Your Profile", current_user, class: 'no-underline' %>
                    </li>
                    <li>
                      <%= link_to "Settings", edit_user_path(current_user), class: 'no-underline' %>
                    </li>
                    <li>
                      <%= link_to "Sign Out", signout_path, class: 'no-underline', method: :delete %>
                    </li>
                  </ul>
                </div>
              </div>
            <% else %>
              <div class="columns text-right">
                <%= link_to "Start a Blog", new_user_path, class: 'button round hollow success' %>
              </div>
              <div class="columns shrink">
                <%= link_to "Sign In", signin_path %>
              </div>
            <% end %>
          </div>
        </div>
      </header>
      <main role="main" class="row collapse">
        <div class="small-12 columns">
          <%= yield %>
        </div>
      </main>
    </div>
    <footer role="contentinfo" class="row align-middle">
      <div class="small-12 medium-6 columns">
        <ul class="menu">
          <li>
            <a href="/" class="no-underline mute">Help</a>
          </li>
          <li>
            <a href="/" class="no-underline mute">About</a>
          </li>
          <li>
            <a href="/" class="no-underline mute">Privacy</a>
          </li>
          <li>
            <a href="/" class="no-underline mute">Terms</a>
          </li>
        </ul>
      </div>
      <div class="columns text-right">
        <p class="mute">
          Matt Vasquez <%= Date.today.year %>
        </p>
      </div>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
